body {
  background-color: #202020;
  color: #fff;
}

@media all and (min-width: 390px) {
  .register-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
    border-radius: 5px;
    align-items: center;
    background-color: #2c2b2b;
   
  }
  .register-form input {
    margin-top: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #2c2b2b;
    color: #fff;
    
  }
  .register-form input:focus {
   background-color: #2c2b2b;
   color:whitesmoke;
  
  }
  .register-form input::placeholder {
    color: rgb(96, 107, 107);
  }
  .container-register-form{
    padding: 1.4rem;
    width: 100%;
    

  }
}
